*{
    margin:0;
    padding:0;
}
body{
    background-color:#1E201E;
}
.container{
    display:grid;
    padding:10px;
    grid-template-areas:
    'navigation navigation navigation navigation'
    'menu1 main main main'
    'menu1 content1 content1 content1'
    'footer footer footer footer'
    ;
}
.item1>i{
    width:100px;
}
.dropdown:hover .menu{
    display:grid;
    border:2px solid;
    transition: 800px;
}
.menu{
    max-width: max-content;
    display:none;
    grid-template-rows: 30px 30px 30px 30px;
    position:relative;
    z-index:5;
}
a{
    background-color: #ECDFCC;
    font-size:18px;
    color:#3C3D37;
    text-decoration: none;
}
.container>div{
    margin:1px;
    padding:5px;
    background-color:#ECDFCC;
    color:#3C3D37;
    font-size:larger;
    text-align:center;
}
.container div:hover{
    color:#3C3D37;
    transition: 900ms;
}

.item1{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    grid-area:navigation;
    height:45px;
    align-items: center;
}
.item1>input{
    border:2px solid #ECDFCC;
    padding:10px;
    font-size:18px;
    height:30%;
    border-radius:20px;
    text-align:center;
}
.item1>.incontainer>h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    width:100px;
}
input:focus{
    background-color:#ECDFCC;
}
input::placeholder{
    color:#3C3D37;
}
.item1>.incontainer{
    display: flex;
    height: 80%;
}
.item1>.incontainer>img{
    height:30px;
    width:30px;
    border-radius:50%;
}
.item2{
    width: 400px;
    height:450px;
    grid-area:menu1;
    padding: 20px;
    box-sizing: border-box;
}
.item2>.menu2{
    color:#ECDFCC;
    padding:2px;
    width:90%;
    border:2px solid #ECDFCC;
    height: 35px;
    margin:20px;
    background-color: #697565;
}
.item3{
    width: 940px;
    grid-area:main;
    display: flex;
}
img{float: left;
    width:200px;
    height:200px;
}
.item4{
    grid-area:content1;
    display: flex;
}
.classcontent>h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:left;
}
.classcontent>p{
    text-align: left;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.item5{
    display: flex;
    grid-area:footer;
    height: 200px;
    flex-wrap: wrap;
    justify-content:space-around;
}
.item5>h1{
    color:#1E201E;
    text-align:center;
    font-size:20px;
}
.item5>h2{
    width:500px;
    text-align:left;
    font-size:15px;
}
.item5>iframe{
    width:30%;
    height:100%;
}



.d{
color:#1E201E;
color:#3C3D37;
color:#697565;
color:#ECDFCC;
}